h1 {
  font-family: Chalkboard, sans-serif;
  font-size: 3em:
}

p {
  font-family: Chalkboard, sans-serif;
  font-size: 5em;
  color: red;
}

li {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  color: blue;
}

p {
  background-color: black;
}

img {
  animation-duration: 2s;
  animation-name: crazy;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes crazy {
from {
  //margin-left: 0;
  transform: rotate(360deg) ;
  }


  to {
    //margin-left: 600px;
  }
}
