body {
  background-color: #CCC;
  padding-top: 60px;
}
h1 {
  display: inline;
}

header {
  background-color: black;
  color: white;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.center {
  background-color: #FFF;
  margin: 0 auto;
  max-width: 800px;
}
